.token_section .main_heading
{
    font: 500 20px/24px "Montserrat",sans-serif;
    color: #fff;
    padding-bottom: 12px;
    letter-spacing: 1px;
}
.token_section .main_heading span
{
    font: 300 16px/24px "Montserrat",sans-serif;
    letter-spacing: 0px;
    margin-left: 8px;
}
/* Each Token Styles */
.token_container
{
    padding: 10px ;
}
.token_image
{
    padding: 4px;
    height: 100px;
    width: 100px;
    border-radius: 90px;
    display: block;
    margin: 0 auto;
}
.token_image img
{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 90px;
}
.token_container .title
{
    padding-top: 6px;
    text-align: center;
    font: 400 14px/18px "Montserrat", sans-serif;
    color: #fff;
    letter-spacing: 1px;
}
.token_container .balance
{
    padding-top: 2px;
    text-align: center;
    font: 600 14px/22px "Montserrat", sans-serif;
    color: #FDF41B;
    letter-spacing: 1px;
}
